.project-page{
    width:100%;
}

.page-title{
    margin-bottom:30px;
}

.page-title h2{
    color:white;
    font-size:32px;
    margin-bottom:10px;
}

.page-title p{
    color:#9CA3AF;
    font-size:15px;
}